@model vidly01.Models.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random
    
    @Model.Movie.Name</h2>
<h5>@Model.Customers</h5>

